.PostList .header {
  display: flex;
  max-width: 700px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.PostList .header h1 {
  margin-left: 8px;
}

.PostList .PostListItem {
  margin-bottom: 4px;
}